<table class="table table-striped table-hover " id="errorTable">
    <thead>
        <tr>
            <th>Hozzáadva</th>
            <th>Megnevezés</th>
            <th>Időpont</th>
            <th>Funkció</th>
        </tr>   
    </thead>
    <tbody>
        {{#each errors}}
        <tr>
            <td>{{date}}</td>
            <td>{{location}}</td>
            <td><span class="badge">{{numberOfMessages}}</span> {{description}}</td>
            <td>
                {{link-to "Megtekint" "errors.view" this class="btn btn-default btn-sm"}}
                <button {{action "deleteError" this}} class="btn btn-default btn-sm">Töröl</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
